// ==================================
//           IMPORT
// ==================================
@use "./mixins";
@use "./variables" as var;

// ==================================
//           GENERAL STYLES
// ==================================
:root {
  font-family: var.$font-family_primary;
  color: var.$color_primary;

  background-color: var.$color_root_background;
}