// ==================================
//           IMPORT
// ==================================
@font-face {
  font-family: "Helvetica Neue-Thin";
  src: url("../../fonts/HelveticaNeue-Thin/HelveticaNeue\ Thin.ttf");
}

// ==================================
//           VARIABLES
// ==================================

// ========= Styling ================
$font-family_primary: Helvetica Neue-Thin;

$color_primary: hsla(0, 0%, 100%, 1);
$color_accent1: hsla(0, 0%, 0%, 1);
$color_root_background: hsla(0, 0%, 13%, 1);

// ========= Root =============

// ========= Local =============

// ========= Responsiveness =======