// ==================================
//           IMPORT
// ==================================
@use "./generals";
@use "./mixins";
@use "./resets";
@use "./variables" as var;

// ==================================
//           LOCAL STYLES
// ==================================

// ========= header ==================

// ========= main section ============
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 50px;
  flex-direction: column;
}

section {
  width: 400px;
  height: 600px;
  background-color: beige;
}

.remote {

}

// ========= footer ==================

// ==================================
//           ANIMATIONS
// ==================================

// ==================================
//           RESPONSIVENESS
// ==================================

// ========= Tablet ==================

// ========= Mobile ==================