// ==================================
//           IMPORT
// ==================================
@use "./generals";
@use "./mixins";
@use "./resets";
@use "./variables" as var;

// ==================================
//           LOCAL STYLES
// ==================================

// ========= header ==================

// ========= main section ============
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

section {
  position: relative;
  min-width: 375px;
  min-height: 660px;
  padding: 1rem 0.4rem 0.65rem 0.4rem;
  border: 12px solid var.$color_accent1;
  border-radius: 20px;

  background-size: cover;
  background-position: center;

  // animation: glow 25s infinite;
  animation: sparkle 20s infinite alternate;
}

h1 {
  padding-bottom: 0.3rem;
}

input,
button {
  color: var.$color_primary;
  background: transparent;
}

input {
  border: none;
  border-bottom: 2px solid var.$color_primary;
  max-width: 40%;
}

input:focus {
  outline: none;
}

button {
  padding: 0.25rem 1rem;
  border: 2px solid var.$color_primary;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var.$color_primary;
  color: var.$color_accent1;
}

.header {
  display: flex;
  justify-content: space-between;
}

.hero {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.hero__summary,
.hero__details {
  width: 156px;
  min-height: 160px;
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  img {
    width: 60%;
  }

  p {
    font-size: 1.25rem;
  }
}

.description {
  text-align: center;
  font-size: 1.2rem;
}

.hero__details {
  gap: 0.3rem;
}

.hero__details__item {
  display: flex;
  justify-content: space-between;
}

.forecast24h {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;

  .forecast24h-item {
    padding: 0.2rem 0;
    max-width: 40px;
    font-size: 0.65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    row-gap: 5px;
    backdrop-filter: blur(8px);
    border-radius: 10px;

    p:nth-of-type(2) {
      min-height: 2rem;
    }
  }
}

.forecast3d {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;

  .forecast3d-item {
    padding: 0.3rem 0.1rem;
    min-width: 80px;
    font-size: 0.65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 5px;
    backdrop-filter: blur(8px);
    border-radius: 10px;

    p:nth-of-type(3) {
      min-height: 2rem;
    }
  }
}

.footer {
  padding-top: 0.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  p {
    padding: 0 0.3rem;
    font-size: 0.65rem;
    border-radius: 10px;
    backdrop-filter: blur(8px);
  }
}

.border-item-top {
  position: absolute;
  width: 35px;
  height: 25px;
  border-radius: 50%;
  background-color: var.$color_accent1;
  top: 0;
  left: 50%;
  transform: translate((-50%, -40%));
}

.border-item-side1 {
  position: absolute;
  width: 16px;
  height: 80px;
  border-radius: 10px;
  background-color: var.$color_accent1;
  top: 10%;
  left: 100%;
}

.border-item-side2 {
  position: absolute;
  width: 16px;
  height: 48px;
  border-radius: 10px;
  background-color: var.$color_accent1;
  top: 28%;
  left: 100%;
}

// ========= footer ==================

// ==================================
//           ANIMATIONS
// ==================================

@keyframes glow {
  0% {
    box-shadow: -16px -16px 70px 4px white;
  }

  15% {
    box-shadow: 10px 10px 70px 4px white;
  }

  25% {
    box-shadow: 16px 16px 70px 4px white;
  }

  35% {
    box-shadow: 10px 10px 70px 4px white;
  }

  50% {
    box-shadow: 16px -16px 70px 4px white;
  }

  65% {
    box-shadow: 10px 10px 70px 4px white;
  }

  75% {
    box-shadow: -16px 16px 70px 4px white;
  }

  90% {
    box-shadow: 10px 10px 70px 4px white;
  }

  100% {
    box-shadow: -16px -16px 70px 4px white;
  }
}


@keyframes sparkle {
  0%, 100% {
    box-shadow: -16px -16px 70px 4px rgba(255, 255, 255, 0.1),
                16px -16px 70px 4px rgba(255, 255, 255, 0.1),
                16px 16px 70px 4px rgba(255, 255, 255, 0.1),
                -16px 16px 70px 4px rgba(255, 255, 255, 0.1);
  }

  25% {
    box-shadow: -16px -16px 70px 4px rgba(255, 255, 255, 0.3),
                16px -16px 70px 4px rgba(255, 255, 255, 0.3),
                16px 16px 70px 4px rgba(255, 255, 255, 0.3),
                -16px 16px 70px 4px rgba(255, 255, 255, 0.3);
  }

  50% {
    box-shadow: -16px -16px 70px 4px rgba(255, 255, 255, 0.5),
                16px -16px 70px 4px rgba(255, 255, 255, 0.5),
                16px 16px 70px 4px rgba(255, 255, 255, 0.5),
                -16px 16px 70px 4px rgba(255, 255, 255, 0.5);
  }

  75% {
    box-shadow: -16px -16px 70px 4px rgba(255, 255, 255, 0.3),
                16px -16px 70px 4px rgba(255, 255, 255, 0.3),
                16px 16px 70px 4px rgba(255, 255, 255, 0.3),
                -16px 16px 70px 4px rgba(255, 255, 255, 0.3);
  }
}


// ==================================
//           RESPONSIVENESS
// ==================================

// ========= Tablet ==================

// ========= Mobile ==================
@media screen and (max-width: 425px) {
  section {
    width: 100%;
    min-height: 100vh;
    border: none;
    border-radius: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .border-item-top,
  .border-item-side1,
  .border-item-side2,
  .device-info {
    display: none;
  }
}