@font-face {
  font-family: "Helvetica Neue-Thin";
  src: url("../../fonts/HelveticaNeue-Thin/HelveticaNeue Thin.ttf");
}
:root {
  font-family: Helvetica Neue-Thin;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 13%);
}

/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html {
  height: 100%;
}

body {
  min-height: 100%; /* 100vh */
  text-rendering: optimizeSpeed;
}

/* 4. Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* 5. Add accessible line-height */
body {
  line-height: 1.5;
}

/* 6. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 7. Remove built-in typography styles for forms and buttons */
input,
button,
textarea,
select,
a {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

/* 8. Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* ul,
ol {
	list-style: none;
} */
/* 9. Make media easer to work with instead of their defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 10. Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  position: relative;
  min-width: 370px;
  min-height: 660px;
  padding: 1rem 0.65rem 0.65rem 0.65rem;
  border: 12px solid hsl(0, 0%, 0%);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  animation: glow 25s infinite;
}

h1 {
  padding-bottom: 0.3rem;
}

input,
button {
  color: hsl(0, 0%, 100%);
  background: transparent;
}

input {
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 100%);
  max-width: 40%;
}

input:focus {
  outline: none;
}

button {
  padding: 0.25rem 1rem;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
}

.header {
  display: flex;
  justify-content: space-between;
}

.hero {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.hero__summary,
.hero__details {
  width: 156px;
  min-height: 160px;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icon-container img {
  width: 60%;
}
.icon-container p {
  font-size: 1.25rem;
}

.description {
  text-align: center;
  font-size: 1.2rem;
}

.hero__details {
  gap: 0.3rem;
}

.hero__details__item {
  display: flex;
  justify-content: space-between;
}

.forecast24h {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.forecast24h .forecast24h-item {
  padding: 0.3rem 0;
  max-width: 40px;
  font-size: 0.65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  row-gap: 5px;
  backdrop-filter: blur(15px);
  border-radius: 10px;
}
.forecast24h .forecast24h-item p:nth-of-type(2) {
  min-height: 2rem;
}

.forecast3d {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.forecast3d .forecast3d-item {
  padding: 0.5rem;
  min-width: 90px;
  font-size: 0.65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 5px;
  backdrop-filter: blur(15px);
  border-radius: 10px;
}
.forecast3d .forecast3d-item p:nth-of-type(3) {
  min-height: 2rem;
}

.footer {
  padding-top: 0.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer p {
  padding: 0 0.3rem;
  font-size: 0.65rem;
  border-radius: 10px;
  backdrop-filter: blur(15px);
}

.border-item-top {
  position: absolute;
  width: 35px;
  height: 25px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 0%);
  top: 0;
  left: 50%;
  transform: translate(-50%, -40%);
}

.border-item-side1 {
  position: absolute;
  width: 16px;
  height: 80px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 0%);
  top: 10%;
  left: 100%;
}

.border-item-side2 {
  position: absolute;
  width: 16px;
  height: 48px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 0%);
  top: 28%;
  left: 100%;
}

@keyframes glow {
  0% {
    box-shadow: -16px -16px 70px 4px white;
  }
  15% {
    box-shadow: 10px 10px 70px 4px white;
  }
  25% {
    box-shadow: 16px 16px 70px 4px white;
  }
  35% {
    box-shadow: 10px 10px 70px 4px white;
  }
  50% {
    box-shadow: 16px -16px 70px 4px white;
  }
  65% {
    box-shadow: 10px 10px 70px 4px white;
  }
  75% {
    box-shadow: -16px 16px 70px 4px white;
  }
  90% {
    box-shadow: 10px 10px 70px 4px white;
  }
  100% {
    box-shadow: -16px -16px 70px 4px white;
  }
}

/*# sourceMappingURL=style.css.map */
